* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #555;
}

.heading-primary {
  font-size: 7.8rem;
  color: #fff;
  font-weight: normal;
  font-family: "inter";
}

.heading-secondary {
  font-size: 2.6rem;
  line-height: 1.5;
}

.third-heading {
  line-height: 2.2;
  font-size: 1.8rem;
}

.subheading {
  text-transform: uppercase;
  font-size: 1.6rem;
}

/* ******************************* */
/* HEADER */
/* ******************************* */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  background-color: #fff;

  height: 8.1rem;
  padding: 0 9.498rem;
}

.logo {
  height: 3.097rem;
}

/* ******************************* */
/* NAVIGATION */
/* ******************************* */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  line-height: 3.7;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.574rem;
  text-transform: uppercase;
  color: #303134;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6d6e75;
}

/* ******************************* */
/* HOME PAGE */
/* ******************************* */
.section-home {
  background-image: linear-gradient(
      to bottom right,
      rgba(42, 245, 154, 0.7),
      rgba(8, 174, 234, 0.7)
    ),
    url("../img/Background_imgs/home.png");
  background-size: cover;
  background-position: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-text-box {
  text-align: center;
  padding: 20rem 0;
}

.home-description {
  line-height: 3.7;
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
}

.home-pricing-box {
  position: relative;
}

.pricing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #006cd1;
  line-height: 3.7;
  font-size: 2.1rem;
  font-weight: bold;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-family: inherit;
  width: 33px;
  height: 33px;
}

.btn--left,
.btn--right {
  position: absolute;
  top: 55%;
}

.btn--left {
  left: 95px;
}

.btn--right {
  right: 95px;
}

.icon {
  width: 14px;
  height: 12px;
}

/* ******************************* */
/* DETAILS PAGE*/
/* ******************************* */
.section-details {
  padding: 9.6rem 4rem;
  display: flex;
  gap: 4rem;
  color: #1a1a1b;
}

.section-details p {
  color: #8d8d8d;
}

.description-text {
  font-size: 1.6rem;
  line-height: 2.2;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.services--box {
  overflow: hidden;
}

.services--box figure {
  overflow: hidden;
  width: 100%;
  height: 55%;
}

.services--box figure img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.services--box figure img:hover {
  transform: scale(1.1);
}

/* ******************************* */
/* FEATURES SECTION */
/* ******************************* */
.section-features {
  border-bottom: 1px solid rgba(178, 171, 171, 0.899);
}

.video-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../img/Background_imgs/features.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.video-text {
  padding: 4rem 4rem;
}

.section-features .shape {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 46px;
}

.video {
  position: relative;
}

.features-video {
  width: 70rem;
  border-bottom: 4px solid #4b54fa;
}

.btn--play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.featured-in-box {
  display: flex;
  justify-content: space-around;
  padding: 6.4rem 4.8rem;
}

.featured-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1a1a1b;
}

.featured-in img {
  margin-bottom: 1.5rem;
}

.number {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "lato";
  line-height: 1.7;
}

/* ******************************* */
/* PACKAGES SECTION */
/* ******************************* */
.section-packages {
  display: flex;
  flex-direction: column;
}

.packages-plan {
  padding: 9.6rem 28rem;
}

.package-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.package-text p {
  line-height: 1.5;
}

.packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.package-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.4s;
  max-height: 36rem;
  position: relative;
}

.package-box img {
  max-height: 65%;
}

.package-box:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.pricing-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pricing {
  font-size: 1.4rem;
  line-height: 3.7;
  color: #1a1a1b;
  font-weight: 500;
}

.pricing-heading {
  font-size: 1.8rem;
  color: #4b54fa;
  font-family: "Raleway";
  font-weight: 500;
}

.tag-box {
  position: absolute;
  background-color: #fed701;
  padding: 1rem;
  top: 1rem;
  left: 1rem;
}

.tag-text {
  color: #1a1a1b;
  font-size: 1.4rem;
}

.subscribe {
  background-image: linear-gradient(
      to bottom right,
      rgba(42, 245, 154, 0.8),
      rgba(8, 174, 234, 0.8)
    ),
    url("../img/Background_imgs/subscribe.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-title {
  font-size: 3.4rem;
  color: #fff;
  margin: 9.6rem 0 1.2rem 0;
}

.subscribe-text {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
}

.subscribe-form {
  margin: 4.8rem 0 9.6rem 0;
  display: flex;
  gap: 4rem;
}

.subscribe-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #fff;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #fff;
  min-width: 40rem;
}

.subscribe-form input::placeholder {
  color: #fff;
  font-weight: 600;
}

.btn--form,
.btn--form:link,
.btn--form:visited {
  border: 2px solid #fff;
  background-color: #fff;
  color: #08aeea;
  font-size: 1.6rem;
  border-radius: 50px;
  padding: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.btn--form:hover {
  background-color: transparent;
  color: #fff;
}

.btn--form:active {
  box-shadow: 0 3.2rem 6.4rem rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

/* ******************************* */
/* TESTIMONIALS SECTION */
/* ******************************* */
.section-testimonials {
  padding: 9.6rem 9.6rem;
}

.testimonials-space {
}

.testimonials-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin: 4.8rem 0;
}

.testimonials-box {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4.6rem;
  gap: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.testimonials-box:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(255, 255, 255, 0.5);
}

.testimonial-img {
  max-height: 10rem;
  max-width: 10rem;
  overflow: hidden;
  border-radius: 50%;
}

.testimonial-img img {
  max-height: 15rem;
  max-width: 15rem;
}

.testimonials-text {
  color: #1A1A1B;
  line-height: 2.2;
  font-size: 1.6rem;
  font-weight: 500;
}
